.searchSectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 500px;

    position: relative;

    .titleSection{
        position: absolute;
        top: -10px;
        left: 20px;
        border-radius: 5px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        padding: 0 3px;
    }
    
    
    .searchSection {
        height: 80vh;
        overflow-y: auto;
    }

    .addSearchTermSection {
        padding-top: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;


    }
}