.searchSectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 500px;
    background-color: #f5f5f5;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
    position: relative;

    .titleSection{
        position: absolute;
        top: -10px;
        left: 20px;
        background-color: #f5f5f5;
        padding: 0 3px;
    }
    
    
    .searchSection {
        height: 80vh;
        overflow-y: auto;
    }

    .addSearchTermSection {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;


    }
}